<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/register-citizen.css') }}">
</head>

<body>
    <h2>ID Generator</h2>
    <div>
        <h3>Enter Details</h3>
    </div>
    <div>
        <form action="/register-citizen" method="POST">
            <input type="text" name="first_name" placeholder="First Name">
            <br>
            <br>
            <input type="text" name="middle_name" placeholder="Middle Name">
            <br>
            <br>

            <input type="text" name="last_name" placeholder="Last Name">
            <br>
            <br>
            <input type="email" name="email" placeholder="Email" />
            <br>
            <br>
            <p>Date of Birth</p>
            <input type="date" name="date_of_birth" placeholder="Enter Birthday" />
            <br>
            <br>
            <p>Gender</p>
            <label for="male">Male</label>
            <input type="radio" name="gender" id="male" value="male">
            <label for="female">Female</label>
            <input type="radio" name="gender" id="female" value="female">
            <br>
            <br>
            <!-- <button onclick="create_user()">Submit Bet</button> -->
            <button onclick="register_citizen()">Submit</button>
        </form>
    </div>
</body>

</html>