<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Generator</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h2>ID Generator</h2>
    <div>
        <h3>Enter Details</h3>
    </div>
    <div>
        <form action="#" method="POST">
            <input type="text" name="first_name" placeholder="First Name">
            <br>
            <br>
            <input type="text" name="middle_name" placeholder="Middle Name">
            <br>
            <br>
            
            <input type="text" name="last_name" placeholder="Last Name">
            <br>
            <br>
            <input type="email" name="email" placeholder="Email" />
            <br>
            <br>
            <p>Date of Birth</p>
            <input type="date" name="date_of_birth" placeholder="Enter Birthday" />
            <br>
            <br>
            <p>Gender</p>
            <label for="yes">Male</label>
            <input type="checkbox" name="male">
            <label for="no">Female</label>
            <input type="checkbox" name="female">
            <br>
            <br>
            <!-- <button onclick="create_user()">Submit Bet</button> -->
            <button>Submit</button>
        </form>
    </div>
</body>

</html>