<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/select_role.css') }}">
</head>

<body>
    <div>
        <h1>Select Role</h1>
    </div>
    <form method="POST">
        <div>
            <label for="admin">Admin</label>
            <input type="radio" name="role" id="admin" value="admin">
            <br>
            <label for="agent">Agent</label>
            <input type="radio" name="role" id="agent" value="agent">
            <br>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>