<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
</head>

<body>
    <div>
        <p>Select Role</p>
    </div>
    <form method="POST">
        <div>
            <label for="admin">Admin</label>
            <input type="radio" name="role" id="admin" value="admin">
            <br>
            <label for="agent">Agent</label>
            <input type="radio" name="role" id="agent" value="agent">
            <br>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>