<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
</head>

<body>
    <div>
        <p>Select Role</p>
    </div>
    <div>
        <label for="yes">Admin</label>
        <input type="checkbox" name="admin">
        <label for="no">Agent</label>
        <input type="checkbox" name="agent">
    </div>
    <!-- Call select role function -->
    <button>Submit</button>
</body>

</html>